<a href="https://colab.research.google.com/github/GaybsGimenez/Dat_science_exercises/blob/main/Exercicios_mod_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercícios
1. Google Colab
Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando print .
Crie uma célua de texto e adicione uma imagem.

In [ ]:
print("olá, mundo!")

olá, mundo!

2. Números
Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket
médio abaixo:
Dia Valor Total Vendas Qtd Total Vendas Ticket Medio
19/01 (A) 3 320.52
20/01 834.47 (B) 119.21
23/01 15378.12 5 (C)

In [ ]:
#(A) 
qte_total_vendas = 3
ticket_medio = 320.52

valor_total_vendas = qte_total_vendas * ticket_medio
print(valor_total_vendas)

961.56

In [ ]:
#(B) 
valor_total_vendas = 834.47
ticket_medio = 119.21

qte_total_vendas = valor_total_vendas/ticket_medio
print(qte_total_vendas)

7.000000000000001

In [ ]:
#(C)
valor_total_vendas = 15378.12
qte_total_vendas = 3

ticket_medio = valor_total_vendas/qte_total_vendas
print(ticket_medio)

5126.04

3. Strings
Aplique três métodos distintos na string abaixo, você pode conferir alguns métodos neste link

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
x = cancao.isalpha()

print(x)

y = cancao.lower()

print(x)

z = cancao.title()

print(x)

False
False
False

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira altaem 6 anos.'
len(noticia)
#68


selic = noticia[0:16]
print(selic)

ano = noticia[61:68]
print(ano)

Selic vai a 2,75
6 anos.

4 BOOLEANOS
utilize a tabela verdade para responder: qual a variavel de x?

In [ ]:
a = False
b = True

x = not a & b 
print(x)

True