<a href="https://colab.research.google.com/github/GaybsGimenez/Dat_science_exercises/blob/main/modulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

leitura

In [ ]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco.csv

**with/open: comando para ler arquivos**

with open `(file='<caminho do arquivo>', mode='<modo de leitura>', encoding='<decodificador>') as <apelidos>:`
  bloco de código

In [ ]:
conteudo = None #dado que representa o vazil - variável vazia

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()
print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

**READ: LER TODO o conteudo O ARQUIVO **

In [ ]:
conteudo = None
with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

READLINE: COMANDO PARA LER O ARQUIVO, UMA LINHA POR VEZ

In [ ]:
conteudo =[]

with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.read() #lê a primeira linha
  while linha: 
    conteudo.append(linha)
    linha = arquivo.readline() # lê uma nova linha, se a linha nao existir, salva o valor None.

print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n30,unemployed,married,primary,no,1787,no,no\n33,services,married,secondary,no,4789,yes,yes\n35,management,single,tertiary,no,1350,yes,no\n30,management,married,tertiary,no,1476,yes,yes\n59,blue-collar,married,secondary,no,0,yes,no\n35,management,single,tertiary,no,747,no,no\n36,self-employed,married,tertiary,no,307,yes,no\n39,technician,married,secondary,no,147,yes,no\n41,entrepreneur,married,tertiary,no,221,yes,no\n43,services,married,primary,no,-88,yes,yes']

In [ ]:
 for linha in conteudo:
      print(linha)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

**EXTRAIR APENAS A PRIMEIRA COLUNA**

In [ ]:
idades = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() #lê o cabeçalho
  linha = arquivo.readline() #lê a primeira linha de informação 
  while linha:
    linha_separada = linha.split(sep=',') #quebra a str nas virgulas e salva os resultados em uma lista
    idade = linha_separada[0] #seleciona o primeiro elemento da lista
    idade = int(idade) #converte o valor de str para integrar (inteiro)
    idades.append(idade) #salva o valor na linha de idades
    linha = arquivo.readline() #lê uma nova linha, se alinha não existir, salva o valor None

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

**OS MODOS DE LEITURA SÃO:**



1.   r: abrir o arquivo para leitura (padrão)
2.   w: abri o arquivo para escrita (subescreve o arquivo original)
3.   a: abri o arquivo para acrescentar (nao subescreve o arquivo original)

**WRITE**

comando para escrever em um arquivo, se o arquivo não existir, ele será criado.

**modo de escrita(w)**

In [ ]:
with open(file='idades.csv', mode='w', encoding='utf8') as fp: #fp é um apelido (padrão) forma tecnica "apelidar" o arquivo
  linha = 'idade' + '/n'
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '/n'
    fp.write(linha)

**modo de acrescimo (a)**

In [ ]:
with open(file='idades.csv', mode='a', encoding='utf8') as fp:
  for idade in idades:
    linha = str(idade + 100) + '/n'
    fp.write(linha)

**MUDAR DE .TXT PARA .CSV**

In [ ]:
%%writefile banco.txt
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.txt

In [ ]:
with open(file='./banco.txt', mode='r', encoding='utf8') as leitura:
  with open(file='./banco.csv', mode='w', encoding='utf8') as escrita:
    linha = leitura.readline()
    while linha:
      escrita.write(linha)
      linha = leitura.read()

**FUNÇÕES**

# MOTIVAÇÃO

*Você trabalha na bolsa de valores e precisa simular o retorno de um investimento para diversos cenários*

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos, você terá um acumulado de R${valor_final}')

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_inicial = valor_final
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos, você terá um acumulado de R${valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos, você terá um acumulado de R$1628.89
Para um valor inicial de R$ 1628.89 e uma taxa de juros anual de 0.03, em 10 anos, você terá um acumulado de R$2189.09

**Definição**: um bloco de código que só é executado quando chamado.

```
def <nome>(<param 1>, <param2>, ...) :
  bloco de código
  return <valor de retorno>

```

In [ ]:
def imprime(mensagem: str):
  print(mensagem)

In [ ]:
texto = 'Fala pessoal, meu nome é Gabriela Gimenez'

In [ ]:
imprime(mensagem=texto)

Fala pessoal, meu nome é Gabriela Gimenez

# RETORNO

Toda função SEMPRE retorna um valor, se não tiver especificado, ela retorna o valor nulo: None

In [ ]:
def maiusculo(texto) -> str:
  texto_maiusculo = texto.upper() #upper pega os elementos e deixa em caixa alta (maiusculo)
  return texto_maiusculo 
  #se omitir o retorno, o python retorna o valor None.

In [ ]:
nome = 'Gabriela Gimenez'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

Gabriela Gimenez
GABRIELA GIMENEZ

In [ ]:
def extrair_usuario_email_provedor(email) -> (str, str):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

In [ ]:
email = 'gimenez.g.gabriela@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

gimenez.g.gabriela
gmail.com

# Parâmetro

parâmetros são valores que passamos na chamada da função

Função sem parâmtro

In [ ]:
def pi() -> float:
  return 3.14

In [ ]:
pi = pi()
print(pi)

3.14

In [ ]:
def imprime_pi() -> None:
  print(3.14)
  return None

In [ ]:
imprime_pi

Função com parâmetro

In [ ]:
def escreve_arquivo_csv(nome: str, cabecalho: str, conteudo: list) -> bool: 

  try:
    with open(file=nome, mode='w', encoding='utf8') as fp:
      linha = cabecalho +'\n'
      fp.write(linha)
      for conteudo in conteudos:
        linha = str(conteudo) + '/n'
        fp.write(linha)
  
  except Exception as exc:
    
    print(exc)
    return False 

  return True

In [ ]:
nome = 'idades-funcao.csv'
cabecalho = 'idade'
conteudo = [30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

escreveu_com_sucesso = escreve_arquivo_csv(nome=nome, cabecalho=cabecalho, conteudo=conteudo)
print(escreveu_com_sucesso)

name 'conteudos' is not defined
False

# MOTIVAÇÃO

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos, você terá um acumulado de R${valor_final}')

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_inicial = valor_final
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos, você terá um acumulado de R${valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos, você terá um acumulado de R$1628.89
Para um valor inicial de R$ 1628.89 e uma taxa de juros anual de 0.03, em 10 anos, você terá um acumulado de R$2189.09

In [ ]:
def juros_compostos_anual(valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:
  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_inicial + (1 * taxa_juros_anual)
  valor_final =  round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos, você terá um acumulado de R$ {valor_final}')
  return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos, você terá um acumulado de R$ 1000.05
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos, você terá um acumulado de R$ 1020.03

# Arquivos & Funções: Escopo 

Escopo, fala sobre o ciclo de vida de uma variável

In [ ]:
def soma_lista(numeros: list) ->int:
  s = 0 
  for numero in numeros:
    s = s + numero
  return s

In [ ]:
soma = soma_lista(numeros=[1] * 10)
print(soma)

10

In [ ]:
if False:
  x = 100
else:
  w = 50

print(w)

50